# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.tlog
*.log

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio Code cache/options directory
.vscode/

*.TMP
/LibOrganizer/Debug/LibOrganizer.idb
/LibOrganizer/Debug/LibOrganizer.pdb
/LibOrganizer/Release/LibOrganizer.pdb
/LibOrganizer/x64/Debug/LibOrganizer.idb
/LibOrganizer/x64/Debug/LibOrganizer.pdb
/LibOrganizer/x64/Release/LibOrganizer.pdb
/Debug
/Release
*.idb
/x64/Debug/vc140.pdb
*.ilk
